{% extends "base.html" %}

{% block content %}
    <div class="auth-forms">
        <div class="signup">
            <h3>Signup</h3>
            {% include "registration/openid.html" %}
            <div class="openid-or">
                <div class="openid-or-sep"> </div>
                <span>or</span>
            </div>
            {% include "registration/signup_form.html" %}
            <ul class="auth-links">
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
