<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Snipt is your collection of frequently used commands or code snippets. Because even Subversion gurus forget the 'svn switch' syntax sometimes." />
    <meta name="language" content="en" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="microid" content="mailto+http:sha1:9f8fdb90033c1dda4ad5f1e8801572578d54222f" />
    <title>Snipt</title>
    <link rel="icon" href="/media/images/favicon.ico" />
	<link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" charset="utf-8" />
	<script type="text/javascript" src="/media/jquery.js"></script>
	<script type="text/javascript" src="/media/jquery.ui.js"></script>
	<script type="text/javascript" src="/media/jquery.copy.js"></script>
	<script type="text/javascript" src="/media/jquery.autogrow.js"></script>
	<script type="text/javascript" src="/media/jquery.livequery.js"></script>
	<script type="text/javascript" src="/media/script.js"></script>
	<!--[if IE 6]><style type="text/css">#ie6 {display: block !important;} #not-ie6 {display: none !important;}</style><![endif]-->
</head>

<body>

<div id="not-ie6">
    <div id="header">
        <div class="frame">
            <a href="/"><img id="logo" src="/media/images/logo.png" alt="Snipt" title="Snipt" /></a>
        </div>
    </div>
    <div id="content" class="clearfix">
        <div class="bl"></div>
        <div class="br"></div>
        <div class="error-page">
            500: You broke the server.<br /><br />Not really, we did something wrong, I'm sure.  Get back on track by heading to <a href="http://snipt.net/">your snipts</a> or browsing <a href="http://snipt.net/public">public snipts</a>.
        </div>
    </div>
    <div id="footer" class="frame">
        <a href="http://lionburger.com/">Lion Burger</a> built this web app on rock and roll, with a little help from <a href="http://www.djangoproject.com/">Django</a> and <a href="http://jquery.com/">jQuery</a>.
    </div>
</div>

<div id="ie6" style="display: none;">
    <p>Hey there!  I see you're running Internet Explorer 6.</p>
    <p>That's neat.  This reminds me of my grandpa.  He had this old car that he kept having to fix.  He spent so much money on it that he didn't want to get rid of it (even when it stopped running).</p>
    <p>You guys should hang out.</p>
    <p><a href="http://firefox.com/">Here's a free sports car from Snipt.</a></p>
</div>

<script type="text/javascript">
    //<![CDATA[
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
    var pageTracker = _gat._getTracker("UA-514462-44");
    pageTracker._trackPageview();
    //]]>
</script>

<script type="text/javascript" src="http://feedback.snipt.net/pages/general/widgets/tab.js?alignment=left&amp;color=000000"></script>

</body>
</html>
