<!DOCTYPE html>
<head>
    
    {% load compressed %}
    
    <meta name="language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Snipt is your collection of frequently used commands or code snippets. Because even Subversion gurus forget the 'svn switch' syntax sometimes." />
    
    <title>{% block title %}Snipt{% endblock %}</title>
    
    <link rel="icon" href="{{ MEDIA_URL }}images/favicon.ico" />
    
	{% block css %}{% compressed_css 'all' %}{% endblock %}
	
	{% block header %}{% endblock %}
	
	{% compressed_js  'all' %}
	
	<!--[if IE 6]><style type="text/css">#ie6 {display: block !important;} #not-ie6 {display: none !important;}</style><![endif]-->
	
	{% if disable_wrap %}<style type="text/css">.highlight pre {white-space: pre;}</style>{% endif %}
	
	{% block js %}{% endblock %}
	
	<script type="text/javascript">var username = '{{ request.user.username }}';</script>
	
</head>

<body{% block body_styles %}{% endblock %}>

<div id="not-ie6">
    <div style="text-align: center; font: bold 24px Georgia; padding: 20px; margin: 20px; -webkit-border-radius: 10px; background: #F7F7F7 url(http://sopastrike.com/images/broadside-bg.jpg) center -50px no-repeat; border: 4px solid #7A7A7A; -moz-border-radius: 10px; border-radius: 10px;">
        Snipt will go dark on January 18th in protest of PIPA. For more info: <a href="http://sopastrike.com/">SOPAStrike.com</a>
    </div>
    <div id="header">
        <div class="frame clearfix">
            <div id="logo-container">{% block logo %}<a href="/{{ request.user.username }}"><img id="logo" src="/media/images/logo.png" alt="Snipt" title="Snipt" /></a>{% endblock %}</div>
            <div id="carbonads-container"><div class="carbonad"><div id="carbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/12124/carbon_2_1_0_HORIZDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
            <div id="twitter">
                <a href="http://twitter.com/snipt"><img id="blink" src="{{ MEDIA_URL }}images/mr-tweet-blind.png" alt="" title="" /></a>
                <a href="http://twitter.com/snipt"><img id="mr-tweet" src="{{ MEDIA_URL }}images/mr-tweet.png" alt="Kick ass twitter bird by http://thedesignsuperhero.com/" title="Kick ass twitter bird by http://thedesignsuperhero.com/" /></a>
                {% if not is_home %}<span class="follow"><a href="http://twitter.com/snipt">Follow @snipt on Twitter</a><br />for Snipt updates.</span>{% endif %}
            </div>
        </div>
    </div>
    <div id="content" class="clearfix">
        <div class="bl"></div>
        <div class="br"></div>
        {% block content %}{% endblock %}
    </div>
    <div id="footer" class="frame">
        <a href="http://nicksergeant.com/">Nick Sergeant</a> and <a href="http://pkarl.com/">Pete Karl</a> (<a href="http://lionburger.com/">Lion Burger</a>) built this web app on rock and roll, with a little help from <a href="http://www.djangoproject.com/">Django</a> and <a href="http://jquery.com/">jQuery</a>. The <a href="http://github.com/lionburger/snipt">source of Snipt</a> is open source.
    </div>
</div>

<div class="rochester-made" style="text-align: center; padding: 50px 0;">
    <a href="http://rochestermade.com" title="Rochester Made"><img src="http://rochestermade.com/media/images/rochester-made-dark-on-light.png" alt="Rochester Made" title="Rochester Made"></a>
</div>


<div id="ie6" style="display: none;">
    <p>Hey there!  I see you're running Internet Explorer 6.</p>
    <p>That's neat.  This reminds me of my grandpa.  He had this old car that he kept having to fix.  He spent so much money on it that he didn't want to get rid of it (even when it stopped running).</p>
    <p>You guys should hang out.</p>
    <p><a href="http://firefox.com/">Here's a free sports car from Snipt.</a></p>
</div>

<script type="text/javascript">
    //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-514462-44']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
    //]]>
</script>

<script type="text/javascript">
    //<![CDATA[
    var uservoiceOptions = {
        /* required */
        key: 'snipt',
        host: 'feedback.snipt.net', 
        forum: '8117',
        showTab: true,  
        /* optional */
        alignment: 'left',
        background_color:'#f00', 
        text_color: 'white',
        hover_color: '#06C',
        lang: 'en'
    };

    function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    //]]>
</script>

<script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ed65ee7f5a1f530f1000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>

</body>
</html>
