{% extends "base.html" %}

{% block title %}{{ block.super }} | Share and store code or command snippets.{% endblock %}

{% block body_styles %} id="homepage"{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="homepage-content">
    <div id="homepage-top" class="clearfix">
        <div id="left" class="left">
            <div class="slogan">
                <h1>Reset your Snipt.net password</h1>
                <h2>Because even Subversion gurus forget their password sometimes.</h2>
                
                <ol style="padding: 1em 0 0 .5em; list-style-type: upper-roman">
                  <li>We'll electronically generate a new password for you</li>
                  <li>Check your email</li>
                  <li>Use your temporary password to log into Snipt.net</li>
                  <li>Change your password to something you won't forget</li>
                </ol>
            </div>
        </div>
        <div id="right" class="right">
          {% if request.session.msg %}
            <p class="notification">{{ request.session.msg }}</p>
          {% endif %}
          <div class="auth-forms">
              <h3>What's your e-mail address?</h3>
              <br/>
              <form name="fauth" action="/password/reset" method="post" class="password-reset-form" style="padding-top: 0;">
                  <div class="fields">
                      <label for="email">e-mail address: </label><input style="width: 95%" type="text" name="email" id="email" class="email" alt="E-mail Address" />
                  </div>
                  <div class="submit">
                      <input type="submit" class="submit" value="send me a temporary password" />
                  </div>
              </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}
