{% extends "base.html" %}

{% load tagging_tags %}
{% load code_stylized %}
{% load comments %}

{% block title %}{{ block.super }} - {{ context_user.username }} - {{ snipt.description }} | Share and store code or command snippets.{% endblock %}

{% block body_styles %} id="userpage"{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    {% include 'userpage-header.html' %}
{% endif %}

<div id="userpage-content" class="clearfix full-page-snipt">    

    <div class="message">
        <div class="info">
            <div class="content">
                Snipt is getting a complete makeover. Follow <a href="http://twitter.com/snipt">@snipt</a> on Twitter and check out the beta site at <a href="http://beta.snipt.net">http://beta.snipt.net</a>.<br /><br />
                Have questions about the transition or the new site? Ask "nicksergeant" on chat.freenode.net in #snipt.
                <br /><br /> 
                We're giving away two passes to an <a href="http://aneventapart.com">An Event Apart</a> conference of your choosing. Follow <a href="http://twitter.com/snipt">@snipt</a> to win!
            </div>
        </div>
    </div>

    {% if not request.user.is_authenticated %}
        <div class="message">
            <div class="info">
                <div class="content">
                    <a href="/signup">Sign up</a> to create your own snipts, or <a href="/login">login</a>.
                </div>
            </div>
        </div>
    {% endif %}
    <h1>{% if not mine and not key and not request.user.is_authenticated %}<a href="/public">Public snipts</a> &raquo; {% endif %}<a href="/{{ context_user.username }}">{% if mine %}My{% else %}{{ context_user.username }}'s{% endif %} snipts</a> &raquo; {{ snipt.description }}</h1>
    <div class="snipt-count left">
        <span class="posted-by tags-title">posted on {{ snipt.created|date:"M d, Y" }} at {{ snipt.created|date:"g:i a T" }} in&nbsp;</span>
        <ul class="left snipt-tags clearfix" id="tags-list-{{ snipt.id }}" style="padding-top: 0 !important;">
            {% for tag in snipt.get_tags %}
                <li><a href="/{% if mine %}{{ request.user.username }}{% else %}{{ context_user.username }}{% endif %}/tag/{{ tag|urlencode }}">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    <form id="toggle-wrap-form" method="post" action="."><div id="toggle-wrap"><input type="checkbox" id="wrap-check"{% if not disable_wrap %} checked="checked"{% endif %} /><label for="wrap-check"> <span id="wrap-text">wrap code</span><span id="loading-wrap" style="display: none; color: green;">loading...</span></label></div></form>
    <div id="full-page-snipt">
        <ul class="snipts" style="padding-top: 0;">
            <li class="container-{{ snipt.id }} clearfix">
                {{ wrap }}
                <pre class="code" id="code-{{ snipt.id }}" style="display: none;">{{ snipt.code }}</pre>
                <pre class="lexer" id="lexer-raw-{{ snipt.id }}" style="display: none;">{{ snipt.lexer }}</pre>
                <p id="public-raw-{{ snipt.id }}" style="display: none;">{{ snipt.public }}</p>
                <div id="code-stylized-{{ snipt.id }}" class="code-stylized">{% if mine %}<span id="public-flag-{{ snipt.id }}" class="public"{% if not snipt.public %} style="display: none;"{% endif %}>public</span>{% endif %}{{ snipt|code_stylized|safe }}</div>
                <p class="tools clearfix">
                    <span class="tools-container">
                        <a class="right copy" href="#" id="copy-{{ snipt.id }}">copy</a>
                        <span class="right separator embed-{{ snipt.id }}">|</span>
                        <a href="#" onclick="$('#embed-code-{{ snipt.id }}').toggle(); return false;" class="embed right embed-{{ snipt.id }}">embed</a>
                    </span>
                </p>
                <p id="embed-code-{{ snipt.id }}" style="display: none; clear: right;"><input type="text" class="embed-code right" onclick="$(this).select(); return false;" name="embed-{{ snipt.id }}" value="&lt;script type=&quot;text/javascript&quot; src=&quot;http://snipt.net/embed/{{ snipt.key }}&quot;&gt;&lt;/script&gt;" /></p>
            </li>
        </ul>
    </div>
    
    <div id="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'snipt-net';
            var disqus_url = ('https:' == document.location.protocol ? 'https' : 'http') + '://snipt.net{{ snipt.get_absolute_url }}';
            var disqus_title = '{{ snipt.description }}';
            var disqus_identifier = {{ snipt.id }};

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </div>
    
</div>

{% endblock content %}
